.option-container {
  display: flex;
  align-items: center;
  gap: 8px;

  .icon {
    font-size: 1.2em;
    width: 24px;
    text-align: center;
  }

  .type a.link {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
  }

  .title {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
