.card {
  border-radius: 0.5rem;
  border: 1px solid #dee2e6;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.btn-sm {
  padding: 2px 6px;
}

.list-group-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}