<div class="mb-3 position-relative">
  <input
    type="text"
    class="form-control"
    placeholder="Digite #123"
    [formControl]="inputControl"
    (focus)="showSuggestions = true"
    (blur)="hideSuggestionsWithDelay()"
  />

  <ul
    class="list-group position-absolute w-100 z-3"
    *ngIf="showSuggestions && suggestions.length > 0"
    style="max-height: 200px; overflow-y: auto;"
  >
    <li
      class="list-group-item d-flex align-items-center"
      *ngFor="let item of suggestions"
      (mousedown)="onOptionSelected(item)"
    >
      <span
        class="me-2"
        [style.color]="getColor(item.fields['System.WorkItemType'])"
      >
        {{ getIcon(item.fields['System.WorkItemType']) }}
      </span>
      <a
        [href]="'https://dev.azure.com/' + org + '/' + project + '/_workitems/edit/' + item.id"
        target="_blank"
        class="me-2 text-decoration-none"
      >
        {{ item.fields['System.WorkItemType'] }} {{ item.id }}:
      </a>
      <span [title]="item.fields['System.Title']">
        {{ item.fields['System.Title'] }}
      </span>
    </li>
  </ul>
</div>